body {
    color: olive;
    background-color: palegoldenrod;
}

p {
    display: inline;
}

button {
    display: inline;
}

table{
    width:100%;
    border: 1px solid black;

} 

th, tr, td {
    
    border: 1px solid black;
}